* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(246, 246, 200);
    padding: 10px;
    border: 1px solid #ccc;
}

.flex {
    display: flex;
    border: 1px solid black;
    /* padding: 10px; */
    height: 40vh;
    row-gap: 100px;
    /* flex-direction: column; */
    /* gap: 10px; */
    /* align-items: center; */
    /* justify-content: center; */
    column-gap: 100px;

}

#item1 {
    background-color: orange;
    /* align-self: flex-end; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 30%; */
    /* flex-basis: 100%; */
    /* width: 100%; */
}

#item2 {
    background-color: crimson;
    /* flex-grow: 1; */
    /* align-self: self-start; */
}

#item3 {
    background-color: teal;
    /* align-self: stretch; */
    /* flex-grow: 0.5; */
}

.flex>* {
    border: 1px solid black;
}

.div-2 {
    background-color: bisque;
    width: 50%;
    height: 100px;
    margin: auto;
    display: flex;
}

.p-tag {
    width: max-content;
    /* margin: auto; */
    background-color: orange;
    color: #fff;
    font-size: 22px;
    padding: 8px;
    border-radius: 30px;
    padding-inline: 22px;
}