* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(246, 246, 200);
    padding: 10px;
    border: 1px solid #ccc;
}

.flex {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    height: 40vh;
    /* flex-direction: column; */
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#item1 {
    background-color: orange;
    align-self: flex-end;
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

#item2 {
    background-color: crimson;
    /* flex-grow: 1; */
    align-self: self-start;
}

#item3 {
    background-color: teal;
    align-self: stretch;
    /* flex-grow: 0.5; */
}