body {
    background-color: #ccc;
    color: #212121;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    /* width: 600px; we have to avoid this */
    max-width: 600px;
    /*instead of width we have to use this*/
    height: 500px;
}


.b1 {
    width: 300px;
    height: 300px;
    background-color: green;
}

.cb1 {
    background-color: goldenrod;
    height: 50%;
    aspect-ratio: 1;
}

.b2 {
    background-color: #454344;
    width: 40vw;
    height: 5vh;
    margin-top: 4vw;
    color: #ccc;
    padding: 2vh;
    font-size: 3vw;
}

body {
    font-size: 12px;
}

.greet-world {
    font-size: 1em;
}